[Unit]
Description=Virustracker Backend
AssertFileIsExecutable=/opt/cs50vn/virustracker-backend/virustracker-backend

[Service]
WorkingDirectory=/opt/cs50vn/virustracker-backend

User=root
Group=root

ExecStart=/opt/cs50vn/virustracker-backend/virustracker-backend

# Let systemd restart this service always
Restart=always

# Specifies the maximum file descriptor number that can be opened by this process
LimitNOFILE=65536

# Disable timeout logic and wait until process is stopped
TimeoutStopSec=infinity
SendSIGKILL=no

[Install]
WantedBy=multi-user.target

# Built for ${project.name}-${project.version} (${project.name})
